<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="service.location" type="Cavity.Configuration.ServiceLocation, Cavity.ServiceLocation" />
  </configSections>
  <castle configSource="castle.config" />
  <log4net configSource="log4net.config" />
  <service.location type="Cavity.Configuration.XmlServiceLocatorProvider, Cavity.ServiceLocation.CastleWindsor" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.diagnostics>
    <switches>
      <!-- Off, Error, Warning, Info, Verbose -->
      <add name="Cavity.Commands" value="Info" />
      <add name="Cavity.Core" value="Info" />
      <add name="Cavity.Domain" value="Info" />
      <add name="Cavity.ServiceLocation" value="Info" />
      <add name="Cavity.TaskManagement" value="Info" />
      <add name="Cavity.Transactions" value="Info" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="log4net" type="Cavity.Diagnostics.Log4NetTraceListener, Cavity.Diagnostics.Log4Net" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>