<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="MessageLibrary.Module"
          Language="1033"
          Version="1.0.0.0">
		<Package Id="201f4888-33a4-4d62-88aa-90878ac78a48"
             Manufacturer="Cavity"
             InstallerVersion="200" />
		<Directory Id="TARGETDIR"
               Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				 <Component Id="Cavity.EventLog.Component"
                    Guid="3c6164ee-6378-4681-b891-2b81c60db682">
           <File Id="Cavity.EventLog.lib"
                 Name="Cavity.EventLog.lib"
                 Source="obj\Cavity.EventLog.lib"/>
				 </Component> 
			</Directory>
		</Directory>
	</Module>
</Wix>
