<?xml version="1.0" encoding="utf-8"?>
<autofac defaultAssembly="Example">
  <components>
    <component type="Example.Tester"
               service="Example.ITest">
      <parameters>
        <parameter name="expected"
                   value="value" />
      </parameters>
    </component>
  </components>
</autofac>