<?xml version="1.0" encoding="utf-8"?>
<autofac defaultAssembly="Cavity.ServiceLocation.Autofac.Facts">
  <components>
    <component type="Cavity.Examples.Tester"
               service="Cavity.Examples.ITest">
      <parameters>
        <parameter name="expected"
                   value="value" />
      </parameters>
    </component>
  </components>
</autofac>