<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <sectionGroup name="cavity">
      <section name="taskManagement"
               type="Cavity.Configuration.TaskManagementConfiguration, Cavity.TaskManagement"
               restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="serviceLocation" value="Cavity.Configuration.XmlServiceLocatorProvider, Cavity.ServiceLocation.CastleWindsor"/>
  </appSettings>
  <castle configSource="castle.config" />
  <cavity>
    <taskManagement refreshRate="0:0:5" />
  </cavity>
</configuration>