<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="lists"
             type="Cavity.Configuration.ConfiguredList, Cavity.Core" />
  </configSections>
  <lists>
    <list name="Example">
      <item>Foo</item>
      <item>Bar</item>
    </list>
  </lists>
</configuration>