<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="Cavity.Core" version="1.1.0.587" />
  <package id="Cavity.Diagnostics.Log4Net" version="1.1.0.438" />
  <package id="Cavity.ServiceLocation" version="1.1.0.438" />
  <package id="Cavity.ServiceLocation.CastleWindsor" version="1.1.0.491" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" />
  <package id="log4net" version="1.2.10" />
</packages>