<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="StructureMap"
      type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
  </configSections>
  <StructureMap configSource="StructureMap.config" />
</configuration>