<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cavity.Configuration" version="1.1.0.746" />
  <package id="Cavity.Core" version="1.1.0.746" />
  <package id="Cavity.Testing.Unit" version="1.1.0.438" />
  <package id="Moq" version="4.0.10827" />
  <package id="xunit" version="1.8.0.1549" />
</packages>