<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="serviceLocation"
             type="Cavity.Configuration.ServiceLocation, Cavity.ServiceLocation" />
  </configSections>
  <castle configSource="castle.config" />
  <serviceLocation type="Cavity.Configuration.XmlServiceLocatorProvider, Cavity.ServiceLocation.CastleWindsor" />
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>