<?xml version="1.0" encoding="utf-8"?>
<castle>
  <components>
    <component id="test"
               service="Cavity.Examples.ITest, Cavity.ServiceLocation.CastleWindsor.Facts"
               type="Cavity.Examples.Tester, Cavity.ServiceLocation.CastleWindsor.Facts">
      <parameters>
        <expected>value</expected>
      </parameters>
    </component>
  </components>
</castle>