<?xml version="1.0" encoding="utf-8"?>
<StructureMap MementoStyle="Attribute">
  <DefaultInstance PluginType="Cavity.Examples.ITest, Cavity.ServiceLocation.StructureMap.Facts"
                   PluggedType="Cavity.Examples.Tester, Cavity.ServiceLocation.StructureMap.Facts"
                   expected="value" />
</StructureMap>