<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define StaticOutputDirectory = "$(var.SolutionDir)Static Libraries\TaskManagement.EventLog.Messages\$(var.Configuration)\" ?>
  <?if $(var.Platform) = x64 ?>
  <?define ProductName = "Cavity Task Management (x64)" ?>
  <?define DisplayName = "Cavity Task Management (x64)" ?>
  <?define ServiceName = "CavityTaskManagement64" ?>
  <?define ProductUpgradeCode = "d796a13f-5f28-49a2-8883-9368677fa864" ?>
  <?define DirectoryId = "ProgramFiles64Folder" ?>
  <?define EventLogGuid = "fc4f3aaa-acb2-41a9-9104-5e97b2a0e548" ?>
  <?define PerformanceCountersGuid = "ea5fb002-8e4c-433a-a504-79452bb1d19a" ?>
  <?define ServiceGuid = "f5f823ca-afa5-4e27-83cf-d203b4bf54a2" ?>
  <?define ServiceConfigGuid = "f6edba7a-85ea-44cb-910b-fd46577db39e" ?>
  <?else ?>
  <?define ProductName = "Cavity Task Management" ?>
  <?define DisplayName = "Cavity Task Management" ?>
  <?define ServiceName = "CavityTaskManagement" ?>
  <?define ProductUpgradeCode = "d3c6a801-9e05-4bd1-9c35-bc44c426d1c7" ?>
  <?define DirectoryId = "ProgramFilesFolder" ?>
  <?define EventLogGuid = "3c6164ee-6378-4681-b891-2b81c60db682" ?>
  <?define PerformanceCountersGuid = "e7f677b4-55dd-42a6-839c-98a7bf4d8d4e" ?>
  <?define ServiceGuid = "1d8762a5-3916-46a3-80b6-64f967525150" ?>
  <?define ServiceConfigGuid = "13dcbf4e-2f0f-41b6-be32-05f87ae1af0e" ?>
  <?endif ?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="1.1.0.753" Manufacturer="Alan Dean" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" InstallScope="perMachine" Compressed="yes" Description="Installs Cavity Task Management." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A more recent version of [ProductName] is already installed. Setup will now exit." />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.DirectoryId)">
        <Directory Id="Common" Name="Common Files">
          <Directory Id="CommonCompany" Name="Cavity">
            <Component Id="EventLog" Guid="$(var.EventLogGuid)">
              <File Id="Messages" KeyPath="yes" Name="Cavity.TaskManagement.EventLog.Messages.lib" Source="Cavity.TaskManagement.EventLog.Messages.lib" />
              <util:EventSource Log="Cavity" Name="Task Management" CategoryCount="2" CategoryMessageFile="[#Messages]" EventMessageFile="[#Messages]" ParameterMessageFile="[#Messages]" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="Company" Name="Cavity">
          <Directory Id="INSTALLLOCATION" Name="Task Management">
            <Component Id="PerformanceCounters" Guid="$(var.PerformanceCountersGuid)" KeyPath="yes">
              <util:PerformanceCategory Id="CavityCategory" Name="Cavity" Help="Cavity Performance Counters" MultiInstance="no">
                <util:PerformanceCounter Name="Commands/sec" Help="The number of commands executed per second" Type="rateOfCountsPerSecond32" />
                <util:PerformanceCounter Name="Tasks/sec" Help="The number of tasks executed per second" Type="rateOfCountsPerSecond32" />
              </util:PerformanceCategory>
            </Component>
            <Component Id="Service" Guid="$(var.ServiceGuid)">
              <Environment Id="cavity_task_mgmt" Name="cavity_task_mgmt" Action="create" Permanent="no" System="yes" Value="[INSTALLLOCATION]" />
              <File Name="Castle.Core.dll" Source="$(var.TaskManagement.Service.TargetDir)\Castle.Core.dll" />
              <File Name="Castle.Windsor.dll" Source="$(var.TaskManagement.Service.TargetDir)\Castle.Windsor.dll" />
              <File Name="Cavity.Configuration.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.Configuration.dll" />
              <File Name="Cavity.Core.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.Core.dll" />
              <File Name="Cavity.Diagnostics.Log4Net.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.Diagnostics.Log4Net.dll" />
              <File Name="Cavity.ServiceLocation.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.ServiceLocation.dll" />
              <File Name="Cavity.ServiceLocation.CastleWindsor.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.ServiceLocation.CastleWindsor.dll" />
              <File Name="Cavity.TaskManagement.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.TaskManagement.dll" />
              <File Name="Cavity.TaskManagement.Abstractions.dll" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.TaskManagement.Abstractions.dll" />
              <File Name="Cavity.TaskManagement.Service.exe" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.TaskManagement.Service.exe" KeyPath="yes" />
              <File Name="CommonServiceLocator.WindsorAdapter.dll" Source="$(var.TaskManagement.Service.TargetDir)\CommonServiceLocator.WindsorAdapter.dll" />
              <File Name="log4net.dll" Source="$(var.TaskManagement.Service.TargetDir)\log4net.dll" />
              <File Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.TaskManagement.Service.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
              <ServiceInstall Id="CavityTaskManagementServiceInstall" Name="$(var.ServiceName)" DisplayName="$(var.DisplayName)" Description="Provides a pluggable task management service." ErrorControl="normal" Start="auto" Type="ownProcess" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" Vital="yes" />
              <ServiceControl Id="CavityTaskManagementServiceControl" Name="$(var.ServiceName)" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
            </Component>
            <Component Id="ServiceConfig" Guid="$(var.ServiceConfigGuid)" Permanent="yes">
              <File Name="castle.config" Source="$(var.TaskManagement.Service.TargetDir)\castle.config" />
              <File Name="Cavity.TaskManagement.dll.config" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.TaskManagement.dll.config" />
              <File Name="Cavity.TaskManagement.Service.exe.config" Source="$(var.TaskManagement.Service.TargetDir)\Cavity.TaskManagement.Service.exe.config" KeyPath="yes" />
              <File Name="log4net.config" Source="$(var.TaskManagement.Service.TargetDir)\log4net.config" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="Task Management Service" Level="1">
      <ComponentGroupRef Id="Product.Generated" />
      <ComponentRef Id="EventLog" />
      <ComponentRef Id="PerformanceCounters" />
      <ComponentRef Id="Service" />
      <ComponentRef Id="ServiceConfig" />
    </Feature>
  </Product>
</Wix>