<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cavity.redirection"
             type="Cavity.Configuration.RedirectionConfigurationSection, Cavity.Web" />
    <section name="derived.redirection"
             type="Cavity.Configuration.DerivedRedirectionConfigurationSection, Cavity.Web.Facts" />
  </configSections>
  <cavity.redirection configSource="redirection.config" />
  <derived.redirection />
</configuration>