<?xml version="1.0" encoding="utf-8" ?>
<cavity.redirection>
  <host>
    <add from="example.com"
         to="www.example.com" />
  </host>
  <absolute>
    <add from="http://www.example.com/from?this=that"
         to="http://www.example.net/that?from=this" />
    <add from="http://www.example.com/from"
         to="http://www.example.net/to" />
  </absolute>
  <relative>
    <add from="/source?this=that"
         to="/that?from=this" />
    <add from="/source"
         to="/destination" />
  </relative>
</cavity.redirection>