<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define UpgradeCode="{f5481b90-9cbd-456f-96df-e2165b8d9af5}"?>
  <Product Id="*" Name="Cavity MSBuild Extensions" Language="1033" Version="2.0.0.890" Manufacturer="Alan Dean" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" InstallScope="perMachine" InstallPrivileges="elevated" Compressed="yes" Description="Installs the Cavity MSBuild extensions." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A more recent version of [ProductName] is already installed. Setup will now exit." />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MSBuildExtensionsPath" Name="MSBuild">
          <Directory Id="INSTALLLOCATION11" Name="Cavity 1.1">
            <Directory Id="NET40LOCATION11" Name="net40">
              <Component Id="NET4011" Guid="9584039a-a660-48ae-98a0-58830b89002b">
                <RegistryValue Root="HKLM" Key="Software\Cavity 1.1\MSBuild Extensions (Compliance)" Type="string" Value="Installed" KeyPath="yes" />
                <File Id="CavityMSBuildCompliance" Name="Cavity.MSBuild.Compliance.dll" Source="Cavity 1.1\net40\Cavity.MSBuild.Compliance.dll" />
                <File Id="CavityMSBuildComplianceTargets" Name="Cavity.MSBuild.Compliance.targets" Source="Cavity 1.1\net40\Cavity.MSBuild.Compliance.targets" />
              </Component>
            </Directory>
            <Component Id="Cavity11" Guid="69b3bf14-0198-4279-9932-2260f7b238de">
              <RegistryValue Root="HKLM" Key="Software\Cavity 1.1\MSBuild Extensions" Type="string" Value="Installed" KeyPath="yes" />
              <File Id="AnyInclude" Name="Any.include" Source="Cavity 1.1\Any.include" />
              <File Id="AnyReferences" Name="Any.references" Source="Cavity 1.1\Any.references" />
              <File Id="AnyCpuPlatform" Name="AnyCPU.platform" Source="Cavity 1.1\AnyCPU.platform" />
              <File Id="BuildAll" Name="Build.all" Source="Cavity 1.1\Build.all" />
              <File Id="BundleAll" Name="Bundle.all" Source="Cavity 1.1\Bundle.all" />
              <File Id="CleanAll" Name="Clean.all" Source="Cavity 1.1\Clean.all" />
              <File Id="CodeProject" Name="Code.project" Source="Cavity 1.1\Code.project" />
              <File Id="CodeRuleset" Name="Code.ruleset" Source="Cavity 1.1\Code.ruleset" />
              <File Id="CodeStyleCop" Name="Code.stylecop" Source="Cavity 1.1\Code.stylecop" />
              <File Id="ComplianceInclude" Name="Compliance.include" Source="Cavity 1.1\Compliance.include" />
              <File Id="ComplianceRules" Name="Compliance.rules" Source="Cavity 1.1\Compliance.rules" />
              <File Id="DataReferences" Name="Data.references" Source="Cavity 1.1\Data.references" />
              <File Id="MefReferences" Name="MEF.references" Source="Cavity 1.1\MEF.references" />
              <File Id="MixedCpuPlatform" Name="MixedCPU.platform" Source="Cavity 1.1\MixedCPU.platform" />
              <File Id="MSBuildReferences" Name="MSBuild.references" Source="Cavity 1.1\MSBuild.references" />
              <File Id="MSBuildTasks" Name="MSBuild.tasks" Source="Cavity 1.1\MSBuild.tasks" />
              <File Id="MvcProject" Name="Mvc.project" Source="Cavity 1.1\Mvc.project" />
              <File Id="MvcReferences" Name="Mvc.references" Source="Cavity 1.1\Mvc.references" />
              <File Id="NUnitTest" Name="NUnit.test" Source="Cavity 1.1\NUnit.test" />
              <File Id="ServiceReferences" Name="Service.references" Source="Cavity 1.1\Service.references" />
              <File Id="TargetFramework" Name="Target.framework" Source="Cavity 1.1\Target.framework" />
              <File Id="TestAll" Name="Test.all" Source="Cavity 1.1\Test.all" />
              <File Id="TestsProject" Name="Tests.project" Source="Cavity 1.1\Tests.project" />
              <File Id="TestsRuleset" Name="Tests.ruleset" Source="Cavity 1.1\Tests.ruleset" />
              <File Id="TestsStyleCop" Name="Tests.stylecop" Source="Cavity 1.1\Tests.stylecop" />
              <File Id="VersionXml" Name="Version.xml" Source="Cavity 1.1\Version.xml" />
              <File Id="WebReferences" Name="Web.references" Source="Cavity 1.1\Web.references" />
              <File Id="WindowsReferences" Name="Windows.references" Source="Cavity 1.1\Windows.references" />
              <File Id="WixSetup" Name="WiX.setup" Source="Cavity 1.1\WiX.setup" />
              <File Id="x64Platform" Name="x64.platform" Source="Cavity 1.1\x64.platform" />
              <File Id="x86Platform" Name="x86.platform" Source="Cavity 1.1\x86.platform" />
              <File Id="XunitTest" Name="Xunit.test" Source="Cavity 1.1\Xunit.test" />
            </Component>
          </Directory>
          <Directory Id="INSTALLLOCATION20" Name="Cavity 2.0">
            <Directory Id="NET40LOCATION20" Name="net40">
              <Component Id="NET4020" Guid="20f7fd4f-9eb4-4d11-b678-2c026fb48060">
                <RegistryValue Root="HKLM" Key="Software\Cavity 2.0\MSBuild Extensions (NET40)" Type="string" Value="Installed" KeyPath="yes" />
                <File Id="CavityCore" Name="Cavity.Core.dll" Source="$(var.MSBuild.TargetDir)\Cavity.Core.dll" />
                <File Id="CavityMSBuild20" Name="Cavity.MSBuild.dll" Source="$(var.MSBuild.TargetDir)\Cavity.MSBuild.dll" />
                <File Id="CavityMSBuildTargets20" Name="Cavity.MSBuild.targets" Source="$(var.MSBuild.TargetDir)\Cavity.MSBuild.targets" />
              </Component>
            </Directory>
            <Component Id="Cavity20" Guid="46fd19ef-410b-48aa-98d8-87ffccea95ad">
              <RegistryValue Root="HKLM" Key="Software\Cavity 2.0\MSBuild Extensions" Type="string" Value="Installed" KeyPath="yes" />
              <File Id="AnyInclude20" Name="Any.include" Source="Cavity 2.0\Any.include" />
              <File Id="AnyCpuPlatform20" Name="AnyCPU.platform" Source="Cavity 2.0\AnyCPU.platform" />
              <File Id="BuildAll20" Name="Build.all" Source="Cavity 2.0\Build.all" />
              <File Id="BundleAll20" Name="Bundle.all" Source="Cavity 2.0\Bundle.all" />
              <File Id="CleanAll20" Name="Clean.all" Source="Cavity 2.0\Clean.all" />
              <File Id="CodeProject20" Name="Code.project" Source="Cavity 2.0\Code.project" />
              <File Id="CodeRuleset20" Name="Code.ruleset" Source="Cavity 2.0\Code.ruleset" />
              <File Id="CodeStyleCop20" Name="Code.stylecop" Source="Cavity 2.0\Code.stylecop" />
              <File Id="ComplianceInclude20" Name="Compliance.include" Source="Cavity 2.0\Compliance.include" />
              <File Id="ComplianceRules20" Name="Compliance.rules" Source="Cavity 2.0\Compliance.rules" />
              <File Id="MixedCpuPlatform20" Name="MixedCPU.platform" Source="Cavity 2.0\MixedCPU.platform" />
              <File Id="MSBuildTasks20" Name="MSBuild.tasks" Source="Cavity 2.0\MSBuild.tasks" />
              <File Id="MvcProject20" Name="Mvc.project" Source="Cavity 2.0\Mvc.project" />
              <File Id="NUnitTest20" Name="NUnit.test" Source="Cavity 2.0\NUnit.test" />
              <File Id="TargetFramework20" Name="Target.framework" Source="Cavity 2.0\Target.framework" />
              <File Id="TestAll20" Name="Test.all" Source="Cavity 2.0\Test.all" />
              <File Id="TestsProject20" Name="Tests.project" Source="Cavity 2.0\Tests.project" />
              <File Id="TestsRuleset20" Name="Tests.ruleset" Source="Cavity 2.0\Tests.ruleset" />
              <File Id="TestsStyleCop20" Name="Tests.stylecop" Source="Cavity 2.0\Tests.stylecop" />
              <File Id="VersionXml20" Name="Version.xml" Source="Cavity 2.0\Version.xml" />
              <File Id="WixSetup20" Name="WiX.setup" Source="Cavity 2.0\WiX.setup" />
              <File Id="x64Platform20" Name="x64.platform" Source="Cavity 2.0\x64.platform" />
              <File Id="x86Platform20" Name="x86.platform" Source="Cavity 2.0\x86.platform" />
              <File Id="XunitTest20" Name="Xunit.test" Source="Cavity 2.0\Xunit.test" />
            </Component>
          </Directory>
          <Directory Id="NUNITLOCATION" Name="NUnit 2.6">
            <Directory Id="NUNITLIBLOCATION" Name="lib">
              <Component Id="NUnitLib" Guid="43b85433-cb08-4fa1-a843-05f0a3fc4e14">
                <RegistryValue Root="HKLM" Key="Software\Cavity\MSBuild Extensions (NUnit lib)" Type="string" Value="Installed" KeyPath="yes" />
                <File Name="nunit.core.dll" Source="NUnit 2.6\lib\nunit.core.dll" />
                <File Name="nunit.core.interfaces.dll" Source="NUnit 2.6\lib\nunit.core.interfaces.dll" />
                <File Name="nunit.util.dll" Source="NUnit 2.6\lib\nunit.util.dll" />
                <File Name="nunit-console-runner.dll" Source="NUnit 2.6\lib\nunit-console-runner.dll" />
              </Component>
            </Directory>
            <Component Id="NUnit" Guid="a4f08ae6-f9f2-4752-b897-77094b0b864c">
              <RegistryValue Root="HKLM" Key="Software\Cavity\MSBuild Extensions (NUnit)" Type="string" Value="Installed" KeyPath="yes" />
              <File Name="nunit-agent.exe" Source="NUnit 2.6\nunit-agent.exe" />
              <File Name="nunit-agent.exe.config" Source="NUnit 2.6\nunit-agent.exe.config" />
              <File Name="nunit-agent-x86.exe" Source="NUnit 2.6\nunit-agent-x86.exe" />
              <File Name="nunit-agent-x86.exe.config" Source="NUnit 2.6\nunit-agent-x86.exe.config" />
              <File Name="nunit-console.exe" Source="NUnit 2.6\nunit-console.exe" />
              <File Name="nunit-console.exe.config" Source="NUnit 2.6\nunit-console.exe.config" />
              <File Name="nunit-console-x86.exe" Source="NUnit 2.6\nunit-console-x86.exe" />
              <File Name="nunit-console-x86.exe.config" Source="NUnit 2.6\nunit-console-x86.exe.config" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="MSBuild Files" Level="1">
      <ComponentGroupRef Id="Product.Generated" />
      <ComponentRef Id="Cavity11" />
      <ComponentRef Id="NET4011" />
      <ComponentRef Id="Cavity20" />
      <ComponentRef Id="NET4020" />
      <ComponentRef Id="NUnit" />
      <ComponentRef Id="NUnitLib" />
    </Feature>
  </Product>
</Wix>