<?xml version="1.0" encoding="utf-8"?>
<castle>
  <components>
    <component id="test"
               service="Example.ITest, Example"
               type="Example.Tester, Example">
      <parameters>
        <expected>value</expected>
      </parameters>
    </component>
  </components>
</castle>