<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="trace" type="log4net.Appender.RollingFileAppender">
    <file value="website-trace.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=" yyyy-MM-dd+HH'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger :: %property{signature} &gt; %message%newline" />
    </layout>
  </appender>
  <appender name="exception" type="log4net.Appender.RollingFileAppender">
    <file value="website-exception.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=" yyyy-MM-dd+HHmm'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger :: %property{signature} &gt; %message%newline" />
    </layout>
    <threshold value="WARN" />
  </appender>
  <root>
    <appender-ref ref="trace" />
    <appender-ref ref="exception" />
    <level value="ALL" />
    <appender-ref ref="app" />
    <appender-ref ref="app-exception" />
  </root>
  <appender name="app" type="log4net.Appender.RollingFileAppender">
    <file value="app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=" yyyy-MM-dd+HH'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger :: %property{signature} &gt; %message%newline" />
    </layout>
  </appender>
  <appender name="app-exception" type="log4net.Appender.RollingFileAppender">
    <file value="app-exception.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value=" yyyy-MM-dd+HHmm'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger :: %property{signature} &gt; %message%newline" />
    </layout>
    <threshold value="WARN" />
  </appender>
</log4net>