<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="cavity">
      <section name="task.management" type="Cavity.Configuration.TaskManagementSettings, Cavity.TaskManagement" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <cavity>
    <task.management refreshRate="00:00:01">
      <extensions>
        <!--<add directory="" />-->
      </extensions>
    </task.management>
  </cavity>
</configuration>