<?xml version="1.0" encoding="utf-8"?>
<castle>
  <components>
    <component id="IUserAgent"
               service="Cavity.Net.IUserAgent, Cavity.Http.Client"
               type="Cavity.Net.UserAgent, Cavity.Http.Client"
               lifestyle="pooled" />
    <component id="message/http"
               service="Cavity.Net.Mime.IMediaType, Cavity.Http.Client"
               type="Cavity.Text.TextPlain, Cavity.Http.Client"
               lifestyle="pooled" />
    <component id="text/plain"
               service="Cavity.Net.Mime.IMediaType, Cavity.Http.Client"
               type="Cavity.Text.TextPlain, Cavity.Http.Client"
               lifestyle="pooled" />
    <component id="text/html"
               service="Cavity.Net.Mime.IMediaType, Cavity.Http.Client"
               type="Cavity.Text.TextPlain, Cavity.Http.Client"
               lifestyle="pooled" />
  </components>
</castle>