<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cavity.ServiceLocation" version="1.1.0.438" />
  <package id="Cavity.Testing.Unit" version="1.1.0.438" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.UnityAdapter" version="1.0.0.41670" />
  <package id="Moq" version="4.0.10827" />
  <package id="Unity" version="2.0" />
  <package id="xunit" version="1.8.0.1549" />
</packages>