<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac"
             type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="service.location"
             type="Cavity.Configuration.ServiceLocation, Cavity.ServiceLocation" />
  </configSections>
  <autofac configSource="autofac.config" />
  <service.location type="Cavity.Configuration.XmlServiceLocatorProvider, Cavity.ServiceLocation.Autofac" />
</configuration>