<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="StructureMap"
      type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
    <section
      name="serviceLocation"
      type="Cavity.Configuration.ServiceLocation, Cavity.ServiceLocation"/>
  </configSections>
  <StructureMap configSource="StructureMap.config" />
  <serviceLocation type="Cavity.Configuration.XmlServiceLocatorProvider, Cavity.ServiceLocation.StructureMap" />
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>