<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StructureMap"
             type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
    <section name="service.location"
             type="Cavity.Configuration.ServiceLocation, Cavity.ServiceLocation" />
  </configSections>
  <StructureMap configSource="StructureMap.config" />
  <service.location type="Cavity.Configuration.XmlServiceLocatorProvider, Cavity.ServiceLocation.StructureMap" />
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>