<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dummy.handler"
             type="Cavity.Configuration.DummyConfigurationSectionHandler, Cavity.Core.Facts" />
    <section name="dummy.section"
             type="Cavity.Configuration.DummyConfigurationSection, Cavity.Core.Facts" />
    <section name="directories"
             type="Cavity.Configuration.ConfiguredDirectory, Cavity.Core" />
    <section name="lists"
             type="Cavity.Configuration.ConfiguredList, Cavity.Core" />
  </configSections>
  <dummy.handler />
  <dummy.section />
  <directories>
    <directory name="Temp">C:\Temp</directory>
  </directories>
  <lists>
    <list name="Example">
      <item>Foo</item>
      <item>Bar</item>
    </list>
  </lists>
</configuration>